{{>header}}
<div class="offer-details">
    <h1>Under Armour HOVR</h1>
    <div class="info">
        <img src="{{shoe.imageUrl}}" alt="">
        <div class="description">{{shoe.description}}
            <br>
            <br>
            <p class="price">Buyers: {{buyers}}</p>
            <br>
            <p class="price">${{shoe.price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isCreator}}
        <a href="/edit/{{shoe.id}}">Edit</a>
        <a href="/delete/{{shoe.id}}">Delete</a>
        {{else}}

        {{#if userBoughtIt}}
        <span>You bought it</span>
        {{else}}
        <a href="/buy/{{shoe.id}}">Buy</a>
        {{/if}}

        {{/if}}
    </div>
</div>
{{>footer}}