{{> header}}

<!-- Edit  -->
<section id="viewEditdestination">
    <h2>Edit existing destination</h2>
    <form id="formAdddestination" action="/edit/{{dest._id}}" method="POST">
        <label for="destination">Destination name:</label>
        <input type="text" id="destination" name="destination" value="{{dest.destination}}">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{dest.city}}">
        <label for="duration">Duration:</label>
        <input type="number" id="duration" name="duration" value="{{dest.duration}}">
        <label for="departureDate">Departure Date:</label>
        <input type="date" id="departureDate" name="departureDate" value="{{dest.departureDate}}">
        <label for="imgUrl">Image:</label>
        <input type="text" id="imgUrl" name="imgUrl"
            value="{{dest.imgUrl}}">

        <input type="submit" class="create" value="Edit">
    </form>
</section>

{{>footer}}