<class class="shoes">
    {{#each shoes}}
    <div class="shoe">
        <img src="{{imageUrl}}">
        <h3>{{name}}</h3>

        <a href="/details/{{id}}">Buy it for ${{price}}</a>
    </div>
    {{else}}
        <h1>No shoes to display. Be the first to create a new offer...</h1>
    {{/each}}
</class>