@model AspNetCoreMVC.Controllers.InformationController.DataViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
</head>
<body>
    <h2>Year: @(Model.Year)</h2>
    <h2>Month: @(Model.Month)</h2>
    <h2>Day: @(Model.Day)</h2>
    <h2>StringTest: @ViewBag.StringTest</h2>
    <h2>IntTest: @ViewBag.IntTest</h2>
    <h2>DecimalTest: @ViewBag.DecimalTest</h2>
    <form>
        <input type="text" name="username" />
        <input type="submit" />
    </form>
    <table class="table table-hover table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Number</th>
                <th>Number Mult 2</th>
                <th>Sqr Number</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 100; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@(i*2)</td>
                    <td>@Math.Sqrt(i)</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>