<a href="/details/{{_id}}" class="added-destination">
    <img src="{{imgUrl}}"
        alt="" class="picture-added-destination">
    <h3>{{city}}</h3>
    <span>to {{destination}} </span><span>{{departureDate}}</span>
</a>