<div class="destination-ticket">
        <div class="destination-left">
            <img src="{{imgUrl}}"
                alt="">
        </div>
        <div class="destination-right">
            <div>
                <h3>{{city}}</h3><span>{{departureDate}}</span>
            </div>
            <div>
                to {{destination}}
            </div>
            <p>{{duration}} days </p>
            <a href="/delete/{{_id}}" class="remove">REMOVE</a>
            <a href="/details/{{_id}}" class="details">Details</a>
        </div>

</div>